- name: add brew path
  ansible.builtin.lineinfile:
    path: ~/.zprofile
    line: eval "$(/opt/homebrew/bin/brew shellenv)"

- name: update homebrew
  community.general.homebrew:
    update_homebrew: true

- name: brew install
  community.general.homebrew:
    name: "{{ item }}"
    state: present
  with_items:
    - 1password-cli
    - fish
    - gh
    - git
    - git-lfs
    - htop
    - ncdu
    - openssl
    - orbstack
    - tree
    - wget
    - zstd

- name: install homebrew cask packages
  community.general.homebrew_cask:
    name: "{{ item }}"
    state: present
    install_options: appdir=/Applications
  with_items:
    - 1password
    - brave-browser
    # - calibre
    - discord
    - ghostty
    - google-japanese-ime
    - microsoft-edge
    - obs
    - openvpn-connect
    - parallels-client
    - thunderbird
    - visual-studio-code
    - zen-browser

- name: install fisher
  ansible.builtin.shell: curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
  args:
    executable: /opt/homebrew/bin/fish
    creates: "{{ ansible_env.HOME }}/.config/fish/functions/fisher.fish"

# - name: install mise
#   ansible.builtin.shell: curl https://mise.jdx.dev/install.sh | sh
#   args:
#     creates: "{{ ansible_env.HOME }}/.local/bin/mise"

- name: install devbox
  ansible.builtin.shell: curl -fsSL https://get.jetify.com/devbox | bash

