- name: use English folder name
  ansible.builtin.shell: LANG=C xdg-user-dirs-update --force

- name: install desktop tools using apt
  become: true
  ansible.builtin.apt:
    name:
      - cinnamon-desktop-environment
      - dconf-editor
      - exfatprogs
      - gedit
      - gparted
      - hardinfo
      - libfuse2 # https://syohex.hatenablog.com/entry/2022/05/02/230822
      - meld
      - terminator
      - thunderbird-locale-ja
      - winbind
      - zstd
    update_cache: true

- name: add grub-customizer ppa
  become: true
  ansible.builtin.apt_repository:
    repo: ppa:danielrichter2007/grub-customizer
    state: present

- name: install grub-customizer
  become: true
  ansible.builtin.apt:
    name: grub-customizer
    update_cache: true

- name: disable sleep when close note pc display
  become: true
  ansible.builtin.lineinfile:
    path: /etc/systemd/logind.conf
    line: HandleLidSwitch=ignore
    insertafter: EOF

- name: set clock local for Windows dual boot system
  become: true
  community.general.timezone:
    name: Asia/Tokyo
    hwclock: local

- name: setting for winbind
  become: true
  ansible.builtin.replace:
    path: /etc/nsswitch.conf
    regexp: " dns$"
    replace: " dns wins"

- import_tasks: multimedia.yml
- import_tasks: cinnamon.yml
- import_tasks: vscode.yml
