- name: add fish ppa
  become: true
  ansible.builtin.apt_repository:
    repo: ppa:fish-shell/release-4
    state: present

- name: install fish shell
  become: true
  ansible.builtin.apt:
    name: fish
    update_cache: true

- name: install fisher
  ansible.builtin.shell: curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
  args:
    executable: /bin/fish
    creates: "{{ ansible_facts['env']['HOME'] }}/.config/fish/functions/fisher.fish"
