- name: install mise
  ansible.builtin.shell: curl https://mise.jdx.dev/install.sh | sh
  args:
    creates: "{{ ansible_env.HOME }}/.local/bin/mise"

- name: install system tools using apt
  become: true
  ansible.builtin.apt:
    name:
      - git-lfs
      - htop
      - net-tools
      - ncdu
      - tree
      - flatpak
      - gnome-software-plugin-flatpak
    update_cache: true

- name: Add Flathub remote
  become: true
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo

- import_tasks: fish.yml
