- name: Install required packages
  become: true
  ansible.builtin.apt:
    name: build-essential
    update_cache: true
  when: ansible_facts["os_family"] == 'Ubuntu'

- name: Download and install rustup
  become: false
  ansible.builtin.shell: |
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs \
    | sh -s -- -y --no-modify-path
  args:
    creates: "{{ ansible_facts['env']['HOME'] }}/.cargo/bin/rustup"

- name: Install dora-cli
  community.general.cargo:
    name: dora-cli
  environment:
    PATH: "{{ ansible_facts['env']['HOME'] }}/.cargo/bin:{{ ansible_env.PATH }}"
